@import url("http://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML5 요소를 block으로 설정 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 리스트 스타일 제거 */
ul,
ol {
  list-style: none;
}

/* 링크 스타일 초기화 */
a {
  text-decoration: none;
  color: inherit;
}

/* 이미지 반응형 처리 */
img,
video {
  max-width: 100%;
  height: auto;
}

/* 테이블 초기화 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 기본 폰트 설정 */
body {
  font-family: "Roboto", sans-serif;
  /* line-height: 1.5; */
  background-color: #fff;
  color: #000;
}

.button {
  transition: all 0.1s ease-in-out;
  padding: 5px 20px;
  background-color: #fff;
}

.button:hover {
  background-color: #eee;
}

.button:active {
  background-color: #aaa;
}
