.editor-addworker-weekdaywrapper {
  display: flex;
}
/* editor-addworker-weekdaywrapper > li {
} */

.editor-addworker-workerwrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding: 0;
  margin-top: 10px;
}
.editor-addworker-workerwrapper > li {
  padding: 5px 20px;
  transition: all 0.1s ease-in-out;
}

.editor-addworker {
  flex-direction: column;
}
