.editor-addworker-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: all 0.1s ease-in-out;
  user-select: none;
}

.editor-addworker-panel {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 90%;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.editor-addworker-weekdaywrapper {
  display: flex;
}
editor-addworker-weekdaywrapper > li {
  border-width: 2px;
}
