.editor-shift-day {
  font-weight: bold;
  line-height: 1;
  user-select: none;
  background-color: #e4e4e4;
  width: 200px;
  /* display: flex; */
  /* flex-direction: column */
  overflow: hidden;

  transition: all 0.1s ease-in-out;
  transition: width 0.2s ease-in-out;
  height: 700px;
}

.editor-shift-day-header {
  height: 50px;
  display: flex;
  padding: 10px;
  background-color: #f2f2f2;
  transition: all 0.1s ease-in-out;
}

.editor-shift-day-header:hover {
  background-color: #ffffff;
}

.editor-shift-day-header-wd {
  font-size: 24;
  width: 23px;
  height: 28px;
}

.editor-shift-day-header-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.editor-shift-day-header-date {
  font-size: 14;
  transition: all 0.15s ease-in-out;
}

.editor-shift-day-header-desc {
  font-size: 12;
  width: 130px;
  overflow: hidden;
}

.editor-shift-day-daywrapper {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 650px;
}

.editor-shift-day-workerwrapper {
  overflow-y: hidden;
  flex: 1;
}

.editor-shift-day-workerwrapper::-webkit-scrollbar {
  display: none;
}

.editor-shift-day-footer {
  height: 120px;
  background-color: #cecece;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.editor-shift-day-footer-groupwrapper {
  height: 40;
  display: flex;
}

.editor-shift-day-footer-valuewrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.editor-shift-day-footer-timewrapper {
  height: 45;
}

.editor-shift-day-footer-label {
  font-size: 10;
}
.editor-shift-day-footer-value {
  font-size: 16;
}

.editor-shift-day-footer-smhwrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.editor-shift-day-contentwrapper {
  display: flex;
}

.editor-shift-day-detail-wrapper {
  background-color: #cecece;
  flex: 1;
  display: flex;
  overflow-y: scroll;
  height: 650px;
}

.editor-shift-day-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* overflow-y: scroll; */

  margin: 10px;
}

.editor-shift-day-detail-header {
  font-weight: bold;
  font-size: 18;
  padding-bottom: 5px;
  border-bottom: 2px solid gray;
  margin-bottom: 10px;
  color: black;
}

.editor-shift-day-detail-label {
  font-size: 12;
}

.editor-shift-day-detail-input {
  outline: none;
  background: none;
  border: 2px solid gray;
  border-radius: 5px;

  padding: 7px;
  font-size: 12;
  transition: all 0.15s ease-in-out;
}

.editor-shift-day-detail-input:hover {
  border-color: #505050;
}

.editor-shift-day-detail-input:focus {
  border-color: blue;
}

.editor-shift-day-detail-info {
  display: flex;
  margin-bottom: 20px;
}

.editor-shift-data-detail-worker {
  display: flex;
  flex-direction: column;
  height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.editor-shift-data-detail-workercount {
  flex: 1;
}
