.editor-shift-worker {
  width: 180px;
  height: 70px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bold;
  user-select: none;
  border: 2px solid transparent;

  position: relative;

  transition: all 0.15s ease;
  overflow: hidden;
}

.editor-shift-worker:hover {
  border-color: blue !important;
}

.editor-shift-worker-infowrapper {
  height: 40px;
}

.editor-shift-worker-name {
  font-size: 24;
  line-height: 1;
  height: 28px;
}

.editor-shift-worker-role {
  font-size: 12;
  margin-top: -2px;
}

.editor-shift-worker-pos {
  margin-top: 5px;
  height: 16px;
}

.editor-shift-worker-timewrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  height: 23px;
}

.editor-shift-worker-partwrapper {
  font-size: 20;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.editor-shift-worker-working {
  font-size: 12;
  text-align: center;
  margin-right: 7px;
  /* margin-top: -5px; */
}

.editor-shift-worker-timehalf {
  margin-top: auto;
  font-size: 12;
}

.editor-shift-worker-time {
  display: flex;
  align-items: end;
  width: 36px;
  height: 23px;
  text-align: end;
}
.editor-shift-worker-timeedit {
  width: 36px;
  height: 23px;
  border: none;
  background-color: transparent;
  z-index: 1;
  font-size: 20;
  font-weight: bold;
  outline: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.editor-shift-worker-editingcolor {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.15s ease;
  z-index: 0;
}

.editor-shift-worker-info {
  font-size: 12;
  margin-top: 20px;
  z-index: 50;
  font-style: italic;
}

.editor-shift-worker-poscard {
  background-color: #ffffff;
  color: black;
  font-weight: bold;
  padding: 0px 4px;
  border-radius: 10px;
  font-size: 9;
  display: inline;
  margin-right: 3px;
}
