.editor-shift-worker {
  width: 180px;
  height: 60px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bold;
  user-select: none;
}

.editor-shift-worker-infowrapper {
  height: 40px;
}

.editor-shift-worker-name {
  font-size: 24;
  line-height: 1;
  height: 28px;
}

.editor-shift-worker-role {
  font-size: 12;
  margin-top: -3px;
}

.editor-shift-worker-timewrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  height: 23px;
}

.editor-shift-worker-partwrapper {
  font-size: 20;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.editor-shift-worker-working {
  font-size: 12;
  text-align: center;
  margin-top: -5px;
}

.editor-shift-worker-timehalf {
  margin-top: auto;
  font-size: 12;
}

.editor-shift-worker-time {
  display: flex;
  align-items: end;
  width: 36px;
  height: 23px;
  text-align: end;
}
